.el-button {
  &.is-loading {
    & > .el-icon-loading {
      display: none;
    }

    & [class*='el-icon-'] + span {
      margin-left: 0;
      color: transparent;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    & .circular {
      position: absolute;
    }
  }
}
